.container1{
  margin: 2% ;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  gap: 20px;
 
}
.container-left{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
}
table{
  /* width: 80%; */
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0px 1px 10px rgb(148, 143, 143);
  
}
 tr{
  border: 1px solid gray;
  border-collapse: collapse;
}
table th{
  border: 1px solid gray;
  border-collapse: collapse;
  background-color: pink;
  padding: 10px 40px;
}
table td{
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px 40px;
  background-color: rgb(177, 226, 226);
}
/* thead{
  border-bottom: 1px solid black;
} */
.container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}
button{
  border: none;
  
  
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
 .delete{
  background-color: rgb(233, 75, 75);
  border-radius: 20px;
  font-size: 12px;
padding: 5px 10px;
box-shadow: 0px 1px 5px rgb(148, 143, 143);
 }
  .update{
  background-color: rgb(45, 175, 235);
  border-radius: 20px;
  font-size: 12px;
  padding: 5px 10px;
  box-shadow: 0px 1px 5px rgb(148, 143, 143);
 }

 form{
  /* width:83% ; */
  margin-top: 3%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
 flex-direction: column;
  gap: 10px;
 /* box-shadow: 0px 1px 5px rgb(148, 143, 143); */
 }
 .inputs{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
 }
input{
  border: none;
  outline: none;
  box-shadow: 0px 1px 5px rgb(148, 143, 143);
  font-size: 12px;
}
 .add{
  background-color: rgb(45, 175, 235);
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 99px;
  box-shadow: 0px 1px 5px rgb(148, 143, 143);
 }
 .updatebuttonsdiv{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  font-size: 12px;
  padding: 10px 0px 0px 0px;
  
 }
 .updatebuttonsdiv button{
  padding: 5px 15px;
 }
 .update1 {
  background-color: rgb(45, 175, 235);
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 99px;
  box-shadow: 0px 1px 5px rgb(148, 143, 143);
 }
 .cancel{
  background-color: rgb(150, 157, 160);
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 99px;
  box-shadow: 0px 1px 5px rgb(148, 143, 143);
 }
 
 .addcontent{
  margin-top: 4.5%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
 box-shadow: 0px 1px 5px rgb(148, 143, 143);
 }